## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
from datetime import datetime

now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
 
print("now =", now)

now = 2022-08-16 00:18:01

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [2]:
import math

def area_circle(rad):
    area = math.pi * (rad**2)
    return area

print(area_circle(5))

78.53981633974483

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [3]:
def duplicates(list):
    if len(set(list)) == len(list):
        return True
    else:
        return False 
    
input_list = [2,4,5,7,9]
duplicates(input_list)

True

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [4]:
from collections import Counter

path_to_file = 'data/lil-wayne.txt'

file_handle = open(file=path_to_file)

data = file_handle.readlines()

file_handle.close()

names_upper = []

dict = {}

for x in data:
    names_upper.append(x.upper())

for i in names_upper:
    for n in i:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1

print(dict)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [5]:
{k: v for k, v in sorted(dict.items(), key=lambda item: item[1])}

{';': 1,
 '!': 1,
 'Â': 1,
 '€': 1,
 '”': 1,
 '3': 2,
 '6': 3,
 '4': 4,
 'X': 5,
 '5': 5,
 '8': 6,
 '\n': 6,
 '-': 6,
 '7': 7,
 'J': 8,
 '(': 12,
 ')': 12,
 'K': 13,
 '[': 14,
 ']': 14,
 '9': 16,
 'V': 20,
 '2': 24,
 '.': 26,
 '1': 28,
 '0': 36,
 ',': 37,
 'P': 39,
 'Y': 44,
 'F': 44,
 'G': 53,
 'B': 59,
 'C': 60,
 'W': 63,
 'U': 66,
 'D': 74,
 'M': 77,
 'H': 122,
 'L': 126,
 'O': 145,
 'R': 152,
 'S': 152,
 'N': 165,
 'T': 180,
 'I': 185,
 'A': 211,
 'E': 274,
 ' ': 522}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [6]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
fourth = list1.pop(3) * list1[-1]
list1.append(fourth)
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [7]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []

for i in range(len(original_list)):
    if original_list[i] % 3 == 0:
        new_list.append(original_list[i])
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [8]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [9]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []

for i in range(len(original_list)):
    square = original_list[i] **2
    new_list.append(square)
    
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [10]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i, j in zip(list1, reversed(list2)):
    print(i, j)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [11]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

while("" in list_of_strings) :
    list_of_strings.remove("")

print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [12]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

value = 999

if value in sample_dict.values():
    print(True)
else:
    print(False)

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [13]:
import pandas as pd
filename = 'data/titanic.csv'
df = pd.read_csv(filename, header=0)
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [14]:
df2 = df["age"].mean()
print(df2)

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [15]:
max = df["age"].max()
min = df["age"].min()
print(max,min)

80.0 0.42

## How many people embarked from station 'S'?

In [19]:
df.embarked.value_counts().S

644